<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dashboard starts</title>
  <link rel="stylesheet" type="text/css" href="./static/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header>
      <figure>
              <img src="./images/motsebo.png" Title="Patrick Motsebo" width="150" height="125" >
              <figcaption class="typ"><b>Patrick Motsebo.</b><br>  <p id="demo"></p>
<script>
var d = new Date();
document.getElementById("demo").innerHTML = d;
</script></figcaption>
           </figure>
              
    </header>
    <nav>
      <!--<h1>Nav</h1>-->
        <br><br>
  <marquee><blink><span class="typ2"><b>Welcome to My portfolio</b></span></blink></marquee>     
       
    </nav>
    <section class="left">
      <h2><span class="typ1">Navigation</span></h2>
        <br>
        <nav class="navigation">
  <ul class="mainmenu">
    <li><a href="#"><span class="typ1"><b>About Me</b></span></a></li>
    <li><a href=""><span class="typ1"><b>My Calendar</b></span></a></li>
    <li><a href=""><span class="typ1"><b>My Projects</b></span></a></a>
      <ul class="submenu">
        <li><a href="./templates/java.html"><span class="typ1">JAVA</span></a></li>
        <li><a href=""><span class="typ1">PYTHON</span></a></li>
        <li><a href=""><span class="typ1">PHP/LARAVEL</span></a></li>
        <li><a href=""><span class="typ1">C#</span></a></li>
        <li><a href="#"><span class="typ1">HTML/CSS-GRID</span></a></li>
        <li><a href=""><span class="typ1">JAVASCRIPT/JS FRAMEWORK</span></a></li>
        <li><a href=""><span class="typ1">RESPONSIVE WEB DESIGN</span></a></li>
         
      </ul>
    </li>
      <li><a href="https://patkloe.github.io/"><figure>
             <span class="align"> <img src="./images/github_pict.png" Title="my github page" width="53" height="58" >
              <!--<figcaption class="typ1"><b>My Github page</b></figcaption>-->
           </span></figure></a></li>
    <li><a href=""><span class="typ1"><b>Keep Connected</b></span></a></li>
  </ul>
</nav>
    </section>
    <div class="overlap">
      <h3>Overlap!</h3>
    <video width="320" height="240" controls>
  <source src="./images/java.mp4" type="video/mp4">
  </video>
    </div>
    <section class="right">
      <h2>Right</h2>
        Here display the content 
    </section>
      <footer>
      <h1>Footer</h1>
        <a href="https://www.linkedin.com/in/patrick-motsebo-zossie-8b941619/"><figure>
             <span class="align1"><img src="./images/linkedin-512.png" Title="my Linkedin" width="53" height="53" >
              <figcaption class="typ1"><b>Linkedin</b></figcaption>
           </span></figure></a>
    </footer>
  </div>
</body>

</html>